@media only screen and (min-width: 600px) {


  nav ul li{
    float: none!important;
  }

  .logo-img{
    margin-left: 2em;
  }

  .unit{

  }

 .container{
   padding-top: 2em;
  }

  .gallery-link{
    text-decoration: none;
    color: #333;
  }

  .person-section{
    display: grid;
    width: 90%;
    margin: auto;
    padding: 2em;
    clear: both;
  }

  .person-preview{
    width: 256px;
  }

  .img-holder{
    width: 35%;
    float: left;
    margin: 2em;
  }

  .img-preview{
    height: 120px;
    background-color: #3691df;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-size: cover;
  }

  .gallery-item{
    background-color: #fff !important;
    padding: .5em;
  }

  .story-img{
      width: 100%;
      /* height: 400px; */
      background-size: contain;
  }

  .description{
    padding-top: 2em;
    display: grid;
  }

  .description-preview{
    background-color: #fff;
    max-height: 128px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8
    line-height: 16px;
    max-height: 128px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    font-size: .9em;
  }

  .description-preview-no-img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .description-preview p {
    margin: 10px;
  }

  p{
    text-align: left !important;
  }

  #mobDropdown::before{
    content: ''!important;
    font-size: 1.5em;
    color: #dedede;
    position: absolute;
    top: 41px;
    right: 22px;
  }

}
/*end media 720*/






.cascade{
  clear: none;
  text-align:left;
  background-color: inherit;
  padding: 8px 1em 0 1em;
  width: auto;
  display: inline-block;
}

.a-mobile{
  display: none;
}
.a-desktop{
  display: inline-block;
}

#menu li:first-child{
  display: none;
}

.menu-icon::after{
  display: none;
}

#menu{
  padding-right: 2em;
}

#menu{
    float: right;
    display: inline-flex;
    margin: 8px 0;
    padding: 0;
}

header{
  background-color: #a58bbf;
  border-top: solid 3px #0f482b;
  border-bottom: solid 1px #dedede;
  background-color: #f8f8f8;
  position: fixed;
  width: 100%;
  height: 53px;
}

.logo-img{
  height: 45px;
  width: 250px;
  background: url('/static/images/logo-elipsis-green.png');
  background-size: contain;
  background-repeat: no-repeat;
}

nav{
  padding: 0px;
  color: inherit;
  font-family: 'Roboto Condensed', sans-serif;
}

nav a{
  text-decoration: none;
  /*color: #543870;*/
  color: #0f482b;
  font-weight: lighter;
}

nav a:hover{
  color: #0f482b;
}

nav ul{
  margin: 0;
  padding: 0;
  display: block;
}

nav ul li{
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 8px 1em 20px 1em;
}

.cascade{
  clear: both;
  text-align:left;
  background-color: #dedede;
  padding: 1em 4em 1em 2em;
  width: 75px;
}

.hidden{
  display: none;
}

.cascade:hover {
  background-color: #f8f8f8;
}

.cascade:hover a{
  color: #555;
}

#logo{
  padding-top: 4px;
  display: inline-flex;
  width: 250px;
  position: absolute;
}


body{
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #dedede;
}

.container{
  background-color: #efefef;
}

footer{
  padding: 2em;
  font-size: .8em;
  background-color: #dedede;
  text-align: center;
  align-items: stretch;
}

.footer p{
  text-align: center;
  color: #555;
  margin-bottom: 0px !important;
}

.portrait{
  width: 100%;
}

.person-section{
  display: grid;
  width: 60%;
  margin: auto;
  padding: 2em;
  margin-bottom: 0px;
  padding-bottom: 0;
}

.person-section:last-child{
  margin-bottom: auto;
}

p{
  text-align: justify;
}

.img-holder{
  padding: 1em;
  background-color: #fff;
}

.description{
  margin-top: 1em;
}

p{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  line-height: 1.5em;
}

h1, h3{
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  margin: 0px;
}
