.topic-student-debt{
  border-left: solid 8px #67af44 !important;
}

.topic-religion{
  border-left: solid 8px #876bd6 !important;
}

.topic-minimum-wage{
  border-left: solid 8px #ee8f31 !important;
}

.topic-healthcare{
  border-left: solid 8px #3cb6ef !important;
}

.topic-family{
  border-left: solid 8px #f0c221 !important;
}

.topic-art{
  border-left: solid 8px #ef3c44 !important;
}
