{% extends "template.html" %}

{% block title %} 404 {% endblock %}

{%block content%}

  <div class="grid-container">

    <div class="grid-x grid-padding-x padded">
      <div class="medium-12 large-12 cell">
        <h1>404 - We don't have a page for this</h1>
        <p>Sorry to say, but there are no thoughts on what you just looked for. <br>
          Please try <a href="#">searching for something</a> if you can't find it!</p>
      </div>
    </div>

  </div>

{%endblock%}
