{% extends "template.html" %}
{% block title %}Please Enter Admin Credentials{% endblock %}
{% block content %}

  <div class="grid-container">
    <form action="" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="grid-x grid-pad-x padded">
        <div class="large-6 medium-6 column">
          <div class="grid-x grid-pad-x">

            <div class="large-12 cell form-space">
              <h2>Enter Admin Credentials</h2>
            </div>
            <!-- email -->
            <div class="large-8 medium-12 cell form-space">
              <label for="password">Email</label>
              <input type="text" name="email" value="{{request.form.email}}">
            </div>
            <!-- password -->
            <div class="large-8 medium-12 cell form-space">
              <label for="password">Password</label>
              <input type="password" name="password" value="{{request.form.password}}">
            </div>

            <div class="large-12 cell form-space">
              <input type="submit" class="button submit rounded-light" value="Submit">
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>

{% endblock %}
