<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>


      {% extends "template.html" %}
      {% block title %}Welcome{% endblock %}
      {% block content %}
      
      <form method="post" action="/">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      </form>

      <div class="person-section">
        <div class="unit">
          <h1>Welcome to OurThoughtsOn.com!</h1>
        </div>
      </div>

      {% endblock %}


  </body>
</html>
